@font-face {
  font-family: Numans;
  src: url(fonts/Numans-Regular.ttf);
}

.App {
  text-align: center;
  font-family: Numans;
}

.App-header {
  background-color: #090909;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navigationBar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: absolute;
  z-index: 20;
  box-shadow: 2px 2px 2px 2px #2e2c2c;
  color: white;
}

#navigationBar h1 {
  position: inherit;
  top: 1%;
  left: 42px;
  font-size: 28px;
}

#navigationBar img {
  position: inherit;
  width: 50px;
  top: 15%;
  left: 124px;
}

#navigationBar a {
  font-size: 22px;
  padding-right: 30px;
}

#navigationBar .options {
  top: 33%;
  position: inherit;
  right: 5%;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: #74c5a3 !important;
}
