.video-responsive {
  overflow: hidden;
  /* padding-bottom: 56.25%; */
  /* position: relative; */
  height: 400px;
  width: 800px;
  /* margin-right: 40px; */
  background-color: #398163;
  padding: 2%;
  border-radius: 10px;
  margin-right: 100px;
}

/* .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
} */

.key-buttons-dp {
  display: inline-block;
  align-items: center;
  margin-top: 30px;
}

.begin-button-dp {
  background-color: #0f0f0f;
  color: #74c5a3;
  border: 2px solid #74c5a3; /* Green */
  border-radius: 10px;
  width: 140px;
  height: 45px;
  font-size: 15px;
  font-family: Numans;
  transition-duration: 0.3s;
  margin: 0px 50px 50px 0px;
}

.begin-button-dp:hover {
  background-color: #74c5a3; /* Green */
  color: white;
}

.header-dp {
  font-family: Numans;
  color: white;
  font-size: 40px;
  text-align: left;
  width: 100px;
  margin: 110px 30px 40px 10px;
}

.middle-dp {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
}

.title-dp {
  font-family: Numans, serif;
  font-size: 30px;
  text-align: center;
}

.ul-dp {
  font-family: Numans, serif;
  font-size: 20px;
}

.ul-dp-div {
  font-family: Numans, serif;
  font-size: 20px;
  margin-top: -5px;
}

.title-description-dp {
  margin-top: 0;
}

.modified-container-dp {
  position: relative;
  display: block;
  left: 5px;
  width: 200px;
  height: 250px;
  margin-top: 30px;
  padding: 30px;
  background-color: #398163;
  border-radius: 5px;
  /*box-shadow: 0 0 8px 0 398163 (0, 0, 0, 0.25);*/
}

.modified-button-dp {
  display: block;
  height: 300px;
  font-family: Numans, serif;
  text-align: left;
  border-radius: 5px;
}

.title-description-dp {
  display: grid;
  align-items: center;
  font-size: 25px;
}
