.main-div-lap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lap {
  text-align: left;
  width: 400px;
  margin-bottom: 0;
}

.description-lap {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding-left: 0px;
  width: 370px;
  text-align: left;
}

.yudo-lap {
  width: 360px;
  margin: 0;
  padding: 0;
  align-items: left;
}

.begin-button-lap {
  margin-top: 10px;
  margin-left: -200px;
  background-color: #0f0f0f;
  color: #74c5a3;
  border: 2px solid #74c5a3; /* Green */
  border-radius: 10px;
  width: 200px;
  height: 55px;
  font-size: 30px;
  font-family: Numans;
  transition-duration: 0.3s;
}

.begin-button-lap:hover {
  background-color: #74c5a3; /* Green */
  color: white;
}
