.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: left;
  width: 400px;
  margin-bottom: 0;
}

.description {
  color: white;
  margin-top: 0;
  font-size: 24px;
  padding-left: 14px;
  width: 370px;
  text-align: left;
}

.yudo {
  width: 360px;
  margin: 0;
  padding: 0;
  align-items: left;
}

.begin-button {
  margin-left: 0;
  background-color: #0f0f0f;
  color: #74c5a3;
  border: 2px solid #74c5a3; /* Green */
  border-radius: 10px;
  width: 180px;
  height: 55px;
  font-size: 30px;
  font-family: Numans;
  transition-duration: 0.3s;
}

.begin-button:hover {
  background-color: #74c5a3; /* Green */
  color: white;
}
