.tensorflow-container {
  background-color: #398163;
  width: 700px;
  height: 490px;
  padding-left: 1.5%;
  padding-top: 1%;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 230px;
}

.LivePage {
  align-items: center;
}

.begin-button-lp {
  background-color: #0f0f0f;
  color: #74c5a3;
  border: 2px solid #74c5a3; /* Green */
  border-radius: 10px;
  width: 180px;
  height: 55px;
  font-size: 30px;
  font-family: Numans;
  transition-duration: 0.3s;
  margin: 0px 50px 50px 0px;
}

.begin-button-lp:hover {
  background-color: #74c5a3; /* Green */
  color: white;
}

.key-buttons-lp {
  display: flex;
  align-items: bottom;
}
/* 
.header-lp {
  font-family: Numans;
  color: white;
  font-size: 40px;
  text-align: left;
  width: 100px;
  margin: 110px 30px 40px 10px;
} */

.middle-lp {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
}

/* .modified-container-lp {
  position: relative;
  display: block;
  left: 5px;
  width: 200px;
  height: 60px;
  margin-top: -150px;
  padding: 30px;
  background-color: #398163;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 398163 (0, 0, 0, 0.25);
} */

.modified-button-lp {
  display: block;
  height: 80px;
  width: 250px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 470px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #74c5a3;
  border-radius: 50%;
  display: inline-block;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
}

.arg {
  /* align-items: center; */
  margin-top: 30px;
  margin-left: 50px;
  display: grid;
}

.head-lp {
  width: 120px;

}

.speakerphone-lp {
  width: 120px;
}

.primary-button-lp {
  display: block;
  height: 70px;
  width: 700px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  margin-left: 30px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: left;
  border-radius: 5px;
}

.primary-button-div-lp {
  display: grid;
  align-items: center;
  font-size: 18px;
}

.poopoo {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 20px;
}

.poopoo:hover {
  background-color: #ffffff; /* Green */
  color: #74c5a3;
}

.peepee:hover {
  background-color: #ffffff; /* Green */
  color: #74c5a3;
}

.peepee {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 20px;
}