.header-wo {
  font-family: Numans;
  color: #ffffff;
  text-align: left;
  font-size: 50px;
  padding: 20px;
}

.primary-button-container-wo {
  position: relative;
  display: block;
  left: 5px;
  width: 1110px;
  height: 25px;
  margin-top: 30px;
  padding: 30px;
  background-color: #398163;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 398163 (0, 0, 0, 0.25);
}

.primary-button-wo {
  display: block;
  height: 81px;
  width: 1164px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: left;
  border-radius: 5px;
}

.primary-button-container-wo:hover {
  background-color: #bfe1c1;
}

.primary-button-wo:active {
  transform: translateY(8px) translateX(9px);
}

button:focus {
  outline: none;
}

.primary-button-div-wo {
  display: grid;
  grid-template-columns: 380px 40px;
  align-items: center;
  font-size: 25px;
}

.poses-wo {
  object-fit: cover;
  float: right;
  width: 40px;
  margin-left: 710px;
}

.begin-button-wo {
  margin-left: 0;
  background-color: #0f0f0f;
  color: #74c5a3;
  border: 2px solid #74c5a3; /* Green */
  border-radius: 10px;
  width: 180px;
  height: 55px;
  font-size: 30px;
  font-family: Numans;
  transition-duration: 0.3s;
}
